.statistics {
    width: 500px;
    margin: 0 auto 20px;
    padding: 20px 0 0;
    background-color: rgb(231, 231, 187);
    border-radius: 5px 5px 0 0;
}

.title {
    text-align: center;
    margin: 0;
}

.statList {
    display: flex;
    padding: 0;
}