.profile {
    padding: 15px 0 0;
    margin: 20px auto;
    width: 500px;
    background-color: rgb(199, 209, 219);
    border-radius: 5px 5px 0 0;
}

.avatar {
    width: 200px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-size: 32px;
    font-weight: 500;
    margin: 10px auto;
}

.tag,
.location {
    font-size: 24px;
    margin: 10px auto;
}



.stats {
    display: flex;
    padding: 0;
    background-color: antiquewhite;

}

.stats>li {
    list-style: none;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
}

.quantity {
    font-size: 20px;
    font-weight: 700;
}